@import "./style.scss";

.select-events-background {
    @include background;
    background-color: rgb(64 63 63 / 6%);
    //    background-color:rgb(244, 240, 240);
}

.select-your-events-options {
    position: absolute;
    height: 0;
    opacity: 0;
    right: 72px;
    &.display-select-events {
        top: 81px;
        opacity: 1;
        // display: block;
        transition: all 0.5s linear;
        background: white;
        list-style: none;
        padding: 10px 0 10px 0;
        display: flex;
        height: 140px;
        width: 120px;
        flex-direction: column;

        gap: 5px;
        z-index: 9;
        box-shadow: 0px 3px 6px $black-shadow;

        li {
            padding: 10px;
        }

        li:hover {
            cursor: pointer;
            background-color: $grey-light;
        }
    }
}

@media screen and (max-width:576px){
    .select-your-events-options
    {
        right:15px;
        opacity: 0;
        &.display-select-events
        {
            opacity: 1;
            top:58px;
            gap:3px;
            padding: 5px 0px;
            width:90px;
            height: 115px;
            font-size: 12px;
            
        }
    }
    
}