@import "./style.scss";
.agenda-container {
  top: 250px;
  margin-top: 30px;
  border-radius: 4px;
  text-align: center;
  .agenda-title {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
  }
  .agenda-events-appointments-container {
    display: flex;
    .events-container {
      padding: 15px;
      height: 60vh;
      overflow-y: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 75%;
      .no-events {
        position: relative;
        top: 150px;
      }
    }
    .scheduled-events-display {
      width: 25%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .view-description-container {
        margin-top: 20px;
        padding: 20px;
        box-shadow: 0px 2px 3px $black-shadow;
        width: 250px;
        border-radius: 4px;
      }
    }
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

@media screen and (max-width:576px){
  .agenda-container
  {
    .agenda-events-appointments-container
    {
      .events-container
      {
        padding: 5px;
        width:65%;
        gap:10px;
        .event-card-container
        {
          padding: 5px;
          .events-card
          {
            font-size: 14px;
          }
        }
      }
      .scheduled-events-display
      {
        width: 35%;
        margin-left: 15px;
        .view-description-container
        {
          padding: 10px;
          width:150px;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
  
}