@import "./Variables.scss";
@import "./style.scss";
.days-week
    {
        font-size: 16px;
        height:30px;
        margin:3.5px;
        width: calc(231px/7);
        align-items: center;
        text-shadow: 0 3px 5px $black-shadow;
        transition: background-color 0.2s;
        &.today
        {
            background-color: $calender-header;
        }
        &:hover:not(.today){
            background-color:$hover;
            color:#185abc;
            cursor:pointer;
        }
        &.other-month-day
        {
           color: grey;
        }
        &:active
        {
            background-color: $background-image;
        }
    }
    input[type=text]
    {
        text-align: center;
        color: black;
        // background-color:$calender-background ;
        outline: none;
        border: none;
        font-size: 12px;
    }