@import "./style.scss";

.timeline-events-container
    {
        // width: 100%;
        padding: 20px 45px;
        position: relative;
        left:60px;
        height:100%;
        top:30px;
        width:93%;
        border:1px solid $grey-light;
        border-radius: 15px;
        background-color:$timeline-background ;
        // display: flex;
        // position: fixed;
        // top: 100px;
    }