@import "./style.scss";

.error-dialogue-box-container {
    @include pop-up;
    position: fixed;
    border: 1px solid $black-shadow;
    align-items: center;
    top: 350px;
    width: 30%;
    left: 585px;
    border-radius: 6px;
    box-shadow: 0px 4px 11px red;
    padding: 0;

    .dialogue-box-header {
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        background: red;
        width: 100.4%;
    }

    .error-dialogue-box-pop-up {
        padding: 30px 50px 30px 50px;

        p {
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 5px 10px 5px 10px;
            width: max-content;
            box-shadow: 0px 4px 11px $black-shadow;
        }

        .error-ok-button {
            @include button-style;
            background-color: $primary-blue;

            border-color: transparent;
            cursor: pointer;
        }
    }
}