@import "./style.scss";

.event-card-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid transparent;
  box-shadow: 0px 2px 7px $black-shadow;
  padding: 10px;
  background-color: $secondary-blue;
  border-radius: 4px;
  &.reminder-overlay {
    background-color: $yellow;
  }

  &.no-schedule-overlay {
    background-color: $grey-teritiary;
  }
  .events-card {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: $black-primary;
    font-weight: 700;
    align-items: flex-start;
    gap: 10px;
    .event-row-flex {
      display: flex;
      flex-direction: row;
      gap: 10px;
      .title {
        font-weight: 500;
      }
    }
    .time-flex {
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-size: 12px;
      color: $grey-primary;
      font-weight: 600;
    }
  }
  &:hover{
    cursor: pointer;
  }
}
