@import "./style.scss";

.month-container
{
    font-size: 18px;
    color:$grey-primary;
 &.selected-month
{

    color:$black-primary;
    font-weight: 700;
}
&:hover{
      color:$overlay-blue;
}
}
