@import "./style.scss";

.timeline-top-container {
  box-shadow: 0px 2px 0px $grey-light;
  z-index: 2;

  .timeline-top-column-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .create-event-row {
      display: flex;
      align-items: center;
      gap: 5px;

      .current-date-today {
        display: flex;
        align-items: center;

        .current-date {
          position: absolute;
          left: 50px;
        }

        .today-button {
          @include button-style;
          border-color: transparent;
          color: black;
          background-color: $yellow-primary;
          position: relative;
          right: 230px;

          &:hover {
            cursor: pointer;
            color: white;
            background-color: black;
          }
        }
        .hamburger-icon {
          display: none;
        }
        .down-icon {
          display: none;
        }
        .agenda-timeline-toggle {
          display: flex;
          list-style: none;

          .timeline-title {
            position: relative;
            right: 187px;

            &:hover {
              cursor: pointer;
              color: $overlay-blue;
            }
            &.display-view {
              // display: block;
            }
          }
          .event-title {
            position: relative;
            right: 170px;
            &:hover {
              cursor: pointer;
              color: $overlay-blue;
            }
          }
          .selected-view {
            color: $primary-blue;
          }
        }
        .display-upcoming-events {
          display: none;
        }
      }
      .title {
        position: relative;
        right: 90px;
        font-size: 18px;
        font-weight: 600;
      }
      .create-icon {
        position: relative;
        left: 360px;
        @include button-style;
        border-color: transparent;
        background-color: $yellow-secondary;
        color: black;
        font-size: 12px;
        width: 70px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .icon-flex {
      @include button-flex;
      justify-content: center;
      padding: 0px 10px 0px 10px;

      &.month-view {
        gap: 45px;
        padding-bottom: 5px;
        // width: 75%;
      }

      &.date-view {
        justify-content: unset;
        overflow-x: scroll;
        width: 100%;
        padding-bottom: 10px;
        margin: 0px 20px 0px 20px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

//media-query

@media screen and (max-width: 576px) {
  .timeline-top-container {
    font-size: 14px;
    .timeline-top-column-flex {
      .create-event-row {
        .current-date-today {
          .current-date {
            left: 140px;
          }
          .today-button {
            right: 66px;
            padding: 5px;
            font-size: 12px;
          }

          .hamburger-icon {
            display: block;
            position: relative;
            right: 150px;
          }
          .down-icon {
            display: block;
            position: relative;
            right: 140px;
            font-size: 20px;

          }
          .agenda-timeline-toggle {
            position: relative;
            display: none;
            &.drop-down {
              display: flex;
              flex-direction: column;
              gap:10px;
              position: absolute;
              background: white;
              z-index:9;
              top: 45px;
              left: 31px;
              padding: 10px;;
              box-shadow: 0px 2px 7px $black-shadow;
              height: 70px;
            }
            .timeline-title {
              right: 0px;
            }
            .event-title {
              right: 0px;
            }
            .display-view {
              // display: block;
            }
            .non-display-view {
              display: none;
            }
          }
        }
        .create-icon {
          left: 110px;
          padding: 5px;
        }
      }
      .title {
        display: none;
      }

      .icon-flex {
        &.month-view {
          gap: 20px;
        }
      }
    }
  }
}
