$calender-background: #222227;
$blue: #143fcd;
$primary-blue: #007bff;
$blue-for-day: #185abc;
$black-shadow: rgb(0, 0, 0, 0.5);
$red-shadow:#c9453a4d;
$transparent-background: #403f3f80;
$white-transparent:rgb(64 63 63 / 6%);
$pink: #801f56;
$hover: #acbbd2;
$button-hover: #eaebff;
$background-image: linear-gradient(90deg, #275776, #1a286c, #03185a);
$app-header: linear-gradient(90deg, #16d3e4, #59e1ed, #5ca177);
$violet: #9932CC;
$gradient-violet: linear-gradient(90deg, #8A2BE2, #9932CC);
$purple: rgba(98, 0, 237, 255);
$overlay-blue: rgb(3, 155, 229);
$header-gradient: linear-gradient(120deg, #0cf9e5, rgba(98, 0, 237, 255));
$yellow-primary: #f1ce7c;
$yellow-secondary: rgba(247, 205, 131, 255);
$yellow: #fff1dc;
$grey-light: #7777;
$grey-primary: #78797b;
$grey-secondary: #f0f2f1;
$grey-teritiary: #f1f2f4;
$grey: #d4d4d4;
$overlay-blue-primary: #4cc9ff;
$secondary-blue: #dcf4ff;
$black-primary: #000908;
$purple-primary: rgb(63, 81, 181);
$timeline-background: #ffffff;
$red-primary: rgb(237, 83, 83);
$icon-color-grey: rgb(95, 99, 104);
$red-background:linear-gradient(to bottom, #dd4e41, #c9453a);
$red-secondary:#c9453a;
$black-background:linear-gradient(to bottom, #4a4646, #191717);
// #5a84eb---blue

// #167e56;
// #
// 5ca177;
// #534383
// #d2e3fc
// rgba(4,8,73,255)
// rgba(99,92,245,255)
// 